.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-navgiation {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.navigation {
  background-color: #484f59;
}
h1 {
  margin: 0;
}
.artist-info-header {
  padding-top: 10%;
  background-color: #f5f5f5
}

.main-page {
  background-color: white;
}
.App-link {
  color: #61dafb;
}

.home-image {
  width: 10vh;
  border: 3px solid lightskyblue;
  cursor: pointer;
}
.bio {
  color: black;
}

/* ARTIST PROFILE COMPONENT */
/*  */
.profile-image {
  display: block;
  width: 100px;
  height: auto;
  border: 1px solid #484f59;
  border-radius: 100%;
  margin-left: 5%;
  margin-right: auto;
}


@media (max-width: 480px) {
  .App {
    font-size: 10px;
    max-width: 80%;
  }
 
  /* ARTIST PROFILE COMPONENT*/
  .artist-profile-container {
    background-color: #f5f5f5;
  }
  .h3-bio {
    text-align: center;
  }

  .artist-name-container {
    /* border: solid 1px #484f59;
    border-radius: 3px; */
    margin-left: 30px;
  }
  .artist-name{
    margin: 10px 10px 10px 10px;
  }
  .artist-info-name {
    font-size: 18px;
    margin: 0;
  }
  h3{
    margin: 0;
  }


  .bio-container {
    padding: 5px 10px;
    margin-right: 180px;
    background-color: white;
  }
  .bio {
    width: 100%;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #448aeb;
    font-weight: bold;
  }
  .p-tag-bio {
    text-align: center;
    font-size: 14px;
  }


  .url {
    background-color: lightgray;
  }
  ul {
    list-style: none;
    padding-left: 20px;
  }
  li {
    display: flex;
  }
  .a-tag-url {
    display: block;
    text-decoration: none;
    width: 50%;
    word-wrap: break-word;
    text-decoration: none;
    flex-wrap: wrap;
    font-size: 10px;
    color: #448aeb;
    font-weight: normal;
  }
  .h3-url {
    text-align: center;
  }

  /*DISCOGRAPHY*/
  .music-thumb {
    display: flex;
  }
  .discog-music-title {
    font-size: 12px;
    font-weight: normal;
  }
  .discog-artist-name {
    font-size: 12px;

  }
  .discog-thumb-img {
    width: 70px;
  }
}
