@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #3a3c3d;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: #3a3c3d;
  color: white;
}
.ArtistInfo {
  background-color: #3a3c3d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home-introduction {
  text-align: center;
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00aaff;
}
.home-description{
  color: #4ca6e6
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
}

.navigation {

padding: 10px
}
h1 {
  margin: 0;
}
.artist-info-header {
  padding-top: 10%;
  background-color: #3a3c3d
}

.App-link {
  color: #61dafb;
}

/* .bio {
  color: black;
} */

/* ARTIST PROFILE COMPONENT */
/*  */


/* BIGGER SCREEN */

/* SEARCH BAR */
.search-box {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  display: flex;

}
.search-text {
  border: none;
  background: none;
  outline: none;
  float:left;
  color: white;
  font-size: 16px;
  line-height: 40px;
  width: 240px;
  padding-left: 20px;
}
/* .search-button {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #2f3640;
  font-size: 10px;
  color: white;
  border: 1px solid #2f3640;
  cursor: pointer;
} */

/* ARTIST PROFILE COMPONENT*/
.artist-profile-image {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}
.profile-image {
  width: 40%;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 0;
  grid-column: 2 / span 1;
}
.artist-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  /* display: grid; */

}
.artist-profile-container {
  width: 50vw;

}
.h3-bio {
  text-align: center;
}
.artist-name-container {
  width: 50vw;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}

.artist-name.stage{
  flex-wrap: wrap;
  grid-column: 2 / span 1;
  border-top: 1px solid #686869; 
}
.artist-name {
grid-column: 2 / span 1;
font-size: 14px;
}
h3 {
  font-size: 20px;
}
.artist-name-real{
  font-family: 'Chivo', sans-serif;
  color: #ecedc5
}
.artist-aliases {
  font-family: 'Chivo', sans-serif;
  color: #ecedc5
}
.artist-info-name {
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  padding: 20px 0px 30px 0px;
  color: #ecedc5
}
h3{
  margin: 0;
}
/* BIO */
.bio-container {
  /* background-color: #3a3c3d; */
  width: 50vw;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}
.bio {
  /* width: 100%; */
  text-align: left;
  grid-column: 2 / span 1;
}
p {
  padding-bottom: 10px;
  grid-column: 2 / span 1;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #448aeb;
  font-weight: bold;
}
.p-tag-bio {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  border-top: 1px solid #686869; 
  font-weight: bold;
}

/* URL LINKS*/
.url-container {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 20px 3fr 20px;
}
.url {
  /* background-color: #3a3c3d; */
  margin-top: 10px;
  width: 50vw;
}
ul {
  list-style: none;
  display: grid;
  padding: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}
li {
  display: flex;
  grid-column: 2 / span 1;
}
.a-tag-url {
  display: block;
  text-decoration: none;
  width: 80%;
  word-wrap: break-word;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 14px;
  color: #448aeb;
  font-weight: normal;
}
.h3-url {
  text-align: center;
  border-top: 1px solid #686869; 
  grid-column: 2 / span 1;
  padding-top: 20px;
}

/*DISCOGRAPHY*/

.thumbnail-container {
  width: 50vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
  /* background: #3a3c3d; */
  margin-bottom: 5px;
}
.discog-releases-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}
.discog-releases {
  text-align: center;
  /* background: #3a3c3d; */
  padding-top: 20px;
  margin-bottom: 40px;
  border-top: 1px solid #686869; 
  grid-column: 2 / span 1;
  font-size: 15px;
}
.discog-main-container {
  width: 50vw;
  display: flex;

}
.discog-container {
  /* background-color: #3a3c3d; */
  margin-top: 30px;
}
.music-thumb {
  display: flex;
  grid-column: 2 / span 1;
  /* background-color: #3a3c3d; */
}
.discog-info {
  /* background-color:#3a3c3d; */
  margin-left: 30px;
  display: grid
}
.discog-music-title {
  font-size: 16px;
  font-weight: 600;
  color: #ecedc5;
  font-family: 'Chivo', sans-serif;
  margin-left: 70px;
}
.discog-artist-name {
  font-size: 14px;
  font-family: 'Chivo', sans-serif;
  padding-bottom: 10px;
  margin-left: 70px;
}
.discog-thumb {
  display: grid;
  padding-bottom: 10px;
}
.discog-thumb-img {
  width: 80px;
  margin-left: 40px;
}

.empty-image {
  width: 20%;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 0;
  grid-column: 2 / span 1;
}
/* artist profile buttons*/
.discog-page-release {
  margin: 10px;
  text-align: center;
}
.button-container {
  text-align: center;
}
.discog-button {
  border: 2px solid black;
  width: 60px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px
}

/* RESULTS PAGE*/

.artist-results-container{
  width: 100vw;
}
.g-4 {
display: flex;
width: 100%;
margin: 0;
};

.results-col {
width: 100vw;
}
.h-100 {
border: none;
background-color: transparent;
}
.results-image-title {
font-size: 14px;
color: #ecedc5;

}
.results-footer {
margin-bottom: 30px;
}

.image-thumbnail {
flex-wrap: wrap;
width: 70%;
height: 240px;
}

.results-card-text {
background-color: transparent;
}


@media (max-width: 1000px){
  .profile-image {
    width: 50%;
    height: auto;
  }
  .artist-name-container {
    width: 100vw;

  }
  .artist-info-container {
    width: 100vw;
    display: grid;
  }
  .bio-container {
    width: 100vw;

  }
  .url {
    width: 100vw;
  }
  .thumbnail-container {
    width: 100vw;
  }
}

@media (max-width: 800px){
  .profile-image {
    width: 40vw;
    height: auto;
  }

  .g-4 {
    display: flex;
    width: 100%;
    margin: 0;
    /* display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 1fr 1fr 1fr; */
  };
  
  .results-link-tag {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 96.2px;
  }
  .results-col {
    width: 120px;
  }
  .h-100 {
    border: none;
    background-color: transparent;
  }
  .results-footer {
    margin-bottom: 10px;
  }
  
  .image-thumbnail {
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
  }
  
  
  .results-card-text {
    background-color: transparent;
  }
  
}

@media (max-width: 480px) {
  .App {
    font-size: 10px;
    max-width: 100vw;
  }
  
  /* ARTIST PROFILE COMPONENT*/
  .artist-profile-image {

  }
  .profile-image {
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    margin: 0;
    grid-column: 2 / span 1;
  }
  .artist-info-container {
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color:#3a3c3d; */
    width: 100vw;
    display: grid;

  }

  .h3-bio {
    text-align: center;
  }
  
/* ARTIST NAME CONTAINER */
  .artist-name-container {
    width: 100vw;
    /* background: #3a3c3d; */
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 20px;
  }
 
  .artist-name.stage{
    flex-wrap: wrap;
    grid-column: 2 / span 1;
    border-top: 1px solid #686869; 
  }
 .artist-name {
  grid-column: 2 / span 1;
 }
 .artist-aliases {
  font-family: 'Chivo', sans-serif;
 }
 .artist-name-real {
  font-family: 'Chivo', sans-serif;
 }
  .artist-info-name {
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
    padding: 20px 0px 30px 0px
  }
  h3{
    font-size: 14px;
    margin: 0;
  }
/* BIO */
  .bio-container {
    /* background-color: #3a3c3d; */
    width: 100vw;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 20px;
  }
  .bio {
    /* width: 100%; */
    text-align: left;
    grid-column: 2 / span 1;
  }
  p {
    padding-bottom: 10px;
    grid-column: 2 / span 1;
   
  }
  a {
    text-decoration: none;
    color: #448aeb;
    font-weight: bold;
  }
  .p-tag-bio {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #686869; 
    font-weight: bold;
  }

/* URL LINKS*/
.url-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 3fr 20px;
}
  .url {
    /* background-color: #3a3c3d; */
    margin-top: 10px;
    width: 100vw;
  }
  ul {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 20px;
  }
  li {
    display: flex;
    grid-column: 2 / span 1;
  }
  .a-tag-url {
    display: block;
    text-decoration: none;
    width: 80%;
    word-wrap: break-word;
    text-decoration: none;
    flex-wrap: wrap;
    font-size: 10px;
    color: #448aeb;
    font-weight: normal;
  }
  .h3-url {
    text-align: center;
    border-top: 1px solid #686869; 
    grid-column: 2 / span 1;
    padding-top: 20px;
  }

  /*DISCOGRAPHY*/

  .thumbnail-container {
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 20px;
    /* background: #3a3c3d; */
    margin-bottom: 5px;
  }
  .discog-releases-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 20px;
  }
  .discog-releases {
    text-align: center;
    /* background: #3a3c3d; */
    padding-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #686869; 
    grid-column: 2 / span 1;
    font-size: 15px;
  }

  .discog-container {
    /* background-color: #3a3c3d; */
    margin-top: 30px;
  }
  .music-thumb {
    display: flex;
    grid-column: 2 / span 1;
    /* background-color: #3a3c3d; */
  }
  .discog-info {
    /* background-color:#3a3c3d; */
    margin-left: 30px;
    display: grid
  }
  .discog-music-title {
    font-size: 12px;
    font-weight: normal;
    color: #ecedc5;
    font-family: 'Chivo', sans-serif;

  }
  .discog-artist-name {
    font-size: 12px;
    font-family: 'Chivo', sans-serif;
    padding-bottom: 10px

  }
  .discog-thumb {
    display: grid;
    padding-bottom: 10px;
  }
  .discog-thumb-img {
    width: 100px;
  }
  .discog-music-title {
    font-weight: 600;
  }
  .empty-image {
    width: 20%;
    height: auto;
    padding: 20px 20px 20px 20px;
    margin: 0;
    grid-column: 2 / span 1;
  }
  /* artist profile buttons*/
  .discog-page-release {
    margin: 10px;
    text-align: center;
  }
  .button-container {
    text-align: center;
  }
  .discog-button {
    border: 2px solid black;
    border-radius: 8px;
    width: 60px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px
  }

  /* RESULTS PAGE*/

/* .image-results {
  display: grid;
  grid-template-rows: 1fr 20px;
  grid-template-columns: 1fr 1fr 1fr;
} */
.g-4 {
  display: flex;
  width: 100%;
  margin: 0;
  /* display: grid;
  grid-template-rows: 1fr 20px;
  grid-template-columns: 1fr 1fr 1fr; */
};

.results-link-tag {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 96.2px;
}
.results-col {
  width: 120px;
}
.h-100 {
  border: none;
  background-color: transparent;
}
.results-footer {
  margin-bottom: 10px;
}

.image-thumbnail {
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}


.results-card-text {
  background-color: transparent;
}


}
